
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

.titre {
    color: red;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
  }
  .phrase{
    color: black;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
  }
  .form-container {
    background-image: url("src\assets\front\img\BACKGROUND.jpg");
    background-size: auto;
    background-position: auto;
  }
  

   
.animated_div {
 
  background:red;
  color: #ffffff;
  position: relative;
  text-align: center;
  font-weight:bold;
  font-size:20px;
  padding:10px;
  animation:animated_div 5s 1;
  -moz-animation:animated_div 5s 1;
  -webkit-animation:animated_div 5s 1;
  -o-animation:animated_div 5s 1;
  border-radius:5px;
  -webkit-border-radius:5px;
  }
  
  @keyframes animated_div
  {
  0% {transform: rotate(0deg);left:0px;}
  25% {transform: rotate(20deg);left:0px;}
  50% {transform: rotate(0deg);left:500px;}
  55% {transform: rotate(0deg);left:500px;}
  70% {transform: rotate(0deg);left:500px;background:pink;}
  100% {transform: rotate(-360deg);left:0px;}
  }
  
  @-webkit-keyframes animated_div
  {
  0% {-webkit-transform: rotate(0deg);left:0px;}
  25% {-webkit-transform: rotate(20deg);left:0px;}
  50% {-webkit-transform: rotate(0deg);left:500px;}
  55% {-webkit-transform: rotate(0deg);left:500px;}
  70% {-webkit-transform: rotate(0deg);left:500px;background:#1ec7e6;}
  100% {-webkit-transform: rotate(-360deg);left:0px;}
  }
  
  @-moz-keyframes animated_div
  {
  0%  {-moz-transform: rotate(0deg);left:0px;}
  25% {-moz-transform: rotate(20deg);left:0px;}
  50%  {-moz-transform: rotate(0deg);left:500px;}
  55%  {-moz-transform: rotate(0deg);left:500px;}
  70%  {-moz-transform: rotate(0deg);left:500px;background:#1ec7e6;}
  100% {-moz-transform: rotate(-360deg);left:0px;}
  }
  
  @-o-keyframes animated_div
  {
  0% {transform: rotate(0deg);left:0px;}
  25% {transform: rotate(20deg);left:0px;}
  50%  {transform: rotate(0deg);left:500px;}
  55%  {transform: rotate(0deg);left:500px;}
  70%  {transform: rotate(0deg);left:500px;background:#1ec7e6;}
  100% {transform: rotate(-360deg);left:0px;}
  }
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }